<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container baseline">
    <a class="navbar-brand" href="#"><img src="http://res.cloudinary.com/soosoory/image/upload/v1528105560/intelliticks-logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">   
        <li class="nav-item active">
          <a class="nav-link" href="#">Features<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Benefits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Why IntelliTicks?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Get a Demo</a>
        </li>
      </ul>
    </div>
      <a href="/profile" id="profile">
      <img id="profile-img" src="http://res.cloudinary.com/soosoory/image/upload/v1528117655/male-user.png">
      </a>
  </div>
</nav>